<form class="form">
    <legend>
        test
    </legend>

    {{> molecules/formrow_label-text label="postcode label" placeholder="hier je postcode" }}
    {{> molecules/formrow_label-text label="huisnummer label" placeholder="hier je huisnummer" }}

</form>