$color--orange 		    : #D46C00;
$color--light-orange 	: #FFA03D;

$color--blue			: #0085B2;
$color--mid-blue		: #65D8FF;
$color--light-blue		: #4BD1FF;

$color--dark-gray 		: #333333;
$color--light-gray 	    : #cccccc;

$color--dull-red 		: #D9534F;

$color--dull-green		: #669E00;

$color--white 			: #ffffff;
$color--black 			: #000000;


