<!DOCTYPE html>
{{>head}}
<body>
{{>ancientbrowserwarning}}

<div class="wrapper">
    {{>header}}

    <div id="react-stuff"></div>

    {{> organisms/form__test}}

    {{{picture 'shutterstock.jpg'}}}
    {{>footer}}
</div>


<div ui-view></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/scripts/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="/scripts/vendor/alertify.min.js"></script>

<script src="/scripts/react.js"></script>

</body>
</html>