/*doc
---
title: font
name: font
category: helpers

---
	
	font helpers

*/


$rem-base : 10;

@function calculateRem($size, $base: $rem-base) {
  $remSize: $size / $base;
  @return $remSize * 1rem;
}

@mixin font-size($size: 12, $base: $rem-base) {
  font-size: $size + px;
  font-size: calculateRem($size,$base);
}

@mixin line-height($heightValue: 12 , $base: $rem-base){
	line-height: $heightValue + px; //fallback for old browsers
	line-height: calculateRem($heightValue,$base);
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

